<head>
    <title>Kundalini Studio - Shedule of the Week</title>

    <!--
    This row support Estonian Char!
	-->
    <meta charset="UTF-8">

    <!--
    В атрибуте href задают адрес файла, а атрибут rel="stylesheet" говорит браузеру, что мы подключаем стили, а не что-то другое.
    -->
    <link href="css/style.css" rel="stylesheet"/>

</head>
<body>


    <h2 style="text-align: center; font-family:'Kaushan Script',cursive; font-size:60px; margin:80px 10px 0 40px; text-shadow: 2px 2px #ff0000;">Admin Dashboard</h2>
<p></p> <div style="background:#ffc; margin:auto; filter: alpha(Opacity=70); position:relative; padding: 2%; border-radius: 20px; overflow-y: visible; width: 80%;">


    <p style="text-align: left;">
        <img src="pic/admin-login-icon.png" style= "float:left;" height="100" alt="Kundalini Studio" />
    </p>

    <p id="test"></p>
    <select id="weekSelect" name="Week" onchange="myRefresh()">
        <option value=0>Jooksev nädal</option>
        <option value=1>Järgmine nädal</option>
    </select>

    <div id="weektable">

    </div>


    <p></p>



    <br>
    <br>
    <div style="text-align: center;">
        <p><a href="index">back to home page</a></p></div>

</div>
</div>

<!--
	This row (scrips.js) must be at the end of body!!!!!!!
	-->
<script src="admin_sheduleweek_script.js"></script>
</body>