<head>
    <title>Kundalini Studio - Shedule of the Week</title>

    <!--
    This row support Estonian Char!
	-->
    <meta charset="UTF-8">

    <!--
    В атрибуте href задают адрес файла, а атрибут rel="stylesheet" говорит браузеру, что мы подключаем стили, а не что-то другое.
    -->
    <link href="css/style.css" rel="stylesheet"/>

</head>
<body>
<h1 style="text-align: center;">Plan of the Week</h1>
<p></p> <div style=" position:relative;">  <div style=" position:absolute; left:50%; margin-left:-20%; ">
    <p id="test"></p>

<div id="weektable">

</div>


<p></p>

<select id="weekSelect" name="Week" onchange="myRefresh()">
    <option value=0>Jooksev nädal</option>
    <option value=1>Järgmine nädal</option>
</select>

<br>
<br>
    <div style="text-align: center;">
<p><a href="index">back to home page</a></p></div>

</div>
</div>

<!--
	This row (scrips.js) must be at the end of body!!!!!!!
	-->
<script src="sheduleweek_script.js"></script>
</body>