<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:option="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8" />
    <title>ADMIN - list of booking</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Admini info</h1>
<p style="text-align: left;" > Tere <b><span th:text="${userName}">...</span></b>, täna on </span><span th:text="${#dates.format(today, 'dd-MM-yyyy HH:mm')}">...</span></p>
<h4 th:text="${task}">..!..</h4>

<div th:each="lesson : ${lessons}">

    <table border="1" cellspacing="0" cellpadding="10">

    <h3 th:text="${lesson.name}+' algab:'+${#dates.format(lesson.start_time, 'dd-MM-yyyy HH:mm')}+' (kestab: '+${lesson.duration}+' min.)'">..</h3>

        <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th><b>Broneeringu ID</b></th>
            <th><b>Klient</b></th>
            <th><b>Telefon</b></th>
            <th><b>Email</b></th>
            <th><b>Kuupäev</b></th>
        </tr>
        <tr th:each="booking : ${bookings}">

            <td> <span th:text="' #' + ${booking.ID_Booking}"></span></td><td> <b th:text="${booking.customer_name}"></b></td>
            <td><span th:text="' tel.: '+ ${booking.customer_telefon}"></span></td>
            <td><a th:href="'mailto:' + ${booking.customer_mail}+ '?subject=' + ${subject}" th:text="${booking.customer_mail}">...</a></td>
            <td> <span th:text="' registreeritud: '+${#dates.format(booking.booking_date, 'dd-MM-yyyy HH:mm')}"></span>            </td>

        </tr>

    </table>

</div>


<p style="text-align: left;"><a th:href="@{${lingBack}}">Go back</a></p>


</body>

</html>