<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <meta name="viewport" content="width=device-width, initial-scale=1">
  -->
  <title>Material Design Login and Registration Form</title>
  
    <link rel="stylesheet" href="/css/formnormalize.min.css">

  <link rel='stylesheet' href='/css/formcyrillic-ext.css'>

      <link rel="stylesheet" href="/css/formstyle.css">

  
</head>

<body>

  
<div class="panel_blur"></div>
  <div class="panel">
    <div class="panel__form-wrapper">
      <button type="button" class="panel__prev-btn" aria-label="Go back to home page" title="Go back to home page" onclick="history.go(-1)">
            <svg fill="rgba(255,255,255,0.5)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/>
            </svg>
          </button>

      <ul class="panel__headers">
        <li class="panel__header" th:text="${lessonName}">Sign Up<br>mis algab:&nbsp<span th:text="${#dates.format(lessonStart_time, 'dd-MM-yyyy HH:mm')}">...</span></li>
        <li class="panel__header" th:text="${#dates.format(lessonStart_time, 'dd-MM-yyyy HH:mm')}">Sign Up</li>
        <li class="panel__header active panel__link"><a href="#" class="panel__link" role="button">Registreeru</a></li>
      </ul>

      <div class="panel__forms">

        <!-- Login Form -->
        <form class="form panel__login-form" id="login-form" method="post"   th:action="${httpPath}">
          <div class="form__row">
            <input type="text" id="customer_name" class="form__input" name='customer_name' data-validation="name" data-error="Invalid name." required>
            <span class="form__bar"></span>
            <label for="customer_name" class="form__label">Nimi</label>
            <span class="form__error"></span>
          </div>
          <div class="form__row">
            <input type="text" id="customer_mail" class="form__input" name="customer_mail" data-validation="email" data-error="Invalid email address." required>
            <span class="form__bar"></span>
            <label for="customer_mail" class="form__label">E-mail</label>
            <span class="form__error"></span>
          </div>
          <div class="form__row">
            <input type="text" id="customer_telefon" class="form__input" name="customer_telefon" data-validation="length" data-validation-length="8-25" data-error="Phone must contain 6-15 characters." required>
            <span class="form__bar"></span>
            <label for="customer_telefon" class="form__label">Telefon</label>
            <span class="form__error"></span>
          </div>
          <div class="form__row">
            <input type="submit" class="form__submit" value="Broneeri!">
            <a href="/week_shedule.html" class="form__retrieve-pass" role="button">Tagasi tunniplaanile</a>
          </div>
        </form>

      </div>
    </div>
  </div>
<script src='/js/jquery-3.3.1.slim.min'></script>
<script src='/js/formjquery.form-validator.min.js'></script>
<script  src="/js/formindex.js"></script>




</body>

</html>
