<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
     
      <link rel="stylesheet" href="/css/booking_style.css">
  
</head>

<body>
  <form  method="post" class='login-form' th:action="${httpPath}">
    <div class="flex-row logo">
      <h1>Kundalini</h1>
      <p>Registreeru treeningule:</br>
       <b><span th:text="${lessonName}">...</span></b>,<br>mis algab:&nbsp<span th:text="${#dates.format(lessonStart_time, 'dd-MM-yyyy HH:mm')}">...</span></p>
  </div>
  <div class="flex-row">
    <input id="customer_name" class='lf--input' name='customer_name' placeholder='Name, Lastname' type='text'>
  </div>
  <div class="flex-row">
    <input id="customer_telefon" class='lf--input' name='customer_telefon' placeholder='telephone number' type='text'>
  </div>
    <div class="flex-row">
      <input id="customer_mail" class='lf--input' name='customer_mail' placeholder='e-post' type='text'>
    </div>
  <input class='lf--submit' type='submit' value='Broneeri'>
  <a class='lf--forgot' href='/week_shedule.html'>Tagasi</a>
</form>
  
  
</body>
</html>
