<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/pic/icon120.png" rel="apple-touch-icon">

    <title>Welcome to test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body style="align-items: center;">
    <div class="yoga_style" style="color:#ffc; width:320px; margin:auto; filter: alpha(Opacity=10);">
<h1 style="text-align: center; color: #339966;">Registreerimine õnnestus!</h1>
<p style="text-align: center;"> Dear &nbsp;<b><span th:text="${customer_name}">...</span></b></p>
<p style="text-align: center;">Sa oled registreeritud <b><span th:text="${lessonName}">...</span></b>&nbsp; tunnile</p>
<p style="text-align: center;">Teie treeneri nimi on &nbsp;<b><span th:text="${lessonTeachers}">...</span></b>&nbsp;</p>
<h1 style="text-align: center; ">Teie acces code:  <span style="color: #339966;" th:text="${accesCode}">...</span></h1>
<br>
<p style="text-align: center;">Kokku on juba registrerinud &nbsp;<b><span th:text="${lessonBooking_total}">...</span></b>&nbsp; inimest</p>

<p style="text-align: center;"><a th:href="@{/week_shedule.html}">tagasi tunniplaani vaatamise lehele</a></p>
</div>
</body>

</html>