<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tähelepanu!</title>
</head>
<body>

<h1 style="text-align: center;"><span style="color: #ff0000;">REGRISTREERIMINE ON SULETUD!</span></h1>
<p style="text-align: center;"> Lugupeetud &nbsp;<b><span th:text="${customer_name}">...</span>,</b></p>
<p style="text-align: center;"><b><span th:text="${lessonStart_time}"></span>&nbsp<span th:text="${lessonName}">...</span></b>&nbsp; - see grupp on on täis!</p>
<p style="text-align: center;">Teie treeneri nimi on &nbsp;<b><span th:text="${lessonTeachers}">...</span></b>&nbsp;</p>
<br>
<p style="text-align: center;">Kokku on juba registrerinud &nbsp;<b><span th:text="${lessonBooking_total}">...</span></b>&nbsp; inimest</p>


<p style="text-align: center;"><a th:href="@{/sheduleweek.html}">tagasi tunniplaani vaatamise lehele</a></p>

</body>
</html>