html {
  font-size: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  body {
  background-color: black;
    background-size: cover;
    }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body,
a,
button,
input {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.15;
}

body {
  position: relative;
  background: url("/pic/yoga-pose-1024x763.jpg") no-repeat center fixed;
  background-size: 100%;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  body {
    min-height: 100%;
    height: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
button:active, button:hover {
  outline: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:active, a:hover {
  outline: 0;
}

.panel_blur,
.panel {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .panel_blur,
  .panel {
    width: 350px;

    overflow-y: visible;
  }
}

/**
 * Blur
 */
.panel_blur {
  position: absolute;
  background: url("/pic/yoga-pose-1024x763.jpg") no-repeat center fixed;
  background-size: 100%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/**
 * Panel 
 */
.panel {
  position: relative;
  z-index: 1;
}
.panel__register-form, .panel__password-form {
  display: none;
}
.panel__register-form .form__submit {
  margin-top: 5px !important;
}
.panel__form-wrapper {
  width: 100%;
  height: 100%;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .panel__form-wrapper {
    padding: 10% 15%;
    border-radius: 10px;
    overflow-y: visible;
  }
}
.panel__prev-btn {
  width: 24px;
  height: 24px;
  background: none;
  padding: 0;
}
.panel__prev-btn svg {
  transition: fill 0.3s;
}
.panel__prev-btn:hover > svg {
  fill: #ff1552;
}
.panel__headers {
  padding: 10px 0;
  text-align: center;
}
.panel__header {
  font-size: 1.375rem;
}
.panel__header:first-child {
  padding-bottom: 5px;
}
.panel__header.active > .panel__link {
  color: #ff1552;
  font-size: 3rem;
}
.panel__link {
  color: inherit;
  transition: all 0.3s;
  font-weight: 600;
}

/**
 * Styles for <form>
 */
.form__row {
  position: relative;
  padding-top: 40px;
}
.form__row.has-error > .form__error:after {
  display: block;
}
.form__input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
}
.form__input:focus, .form__input:active {
  outline: 0;
}
.form__input:focus ~ .form__label, .form__input:active ~ .form__label, .form__input:valid ~ .form__label {
  bottom: 30px;
  font-size: 0.75rem;
}
.form__input:focus ~ .form__bar, .form__input:active ~ .form__bar {
  left: 0;
  right: 0;
  width: 100%;
}
.form__bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  display: block;
  width: 0;
  height: 2px;
  background-color: #ff1552;
  transition: all 0.3s;
}
.form__label {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  pointer-events: none;
}
.form__submit {
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: #ff1552;
  cursor: pointer;
}
.form__retrieve-pass {
  display: block;
  padding: 15px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.form__retrieve-pass:hover {
  color: #fff;
}
.form__error {
  position: absolute;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 20px;
  color: #ff1552;
  font-size: 0.75rem;
  line-height: 20px;
}
.form__error:after {
  content: 'x';
  position: absolute;
  bottom: 20px;
  right: -20px;
  display: none;
  width: 20px;
  height: 25px;
  font-size: 1.125rem;
  line-height: 25px;
  text-align: center;
  color: #ff1552;
}
.form__info {
  text-align: center;
}
