body {
    /* background-color: #cdc1b3; */
    position: relative;
    background: url(/pic/yoga-pose-1024x763.jpg) no-repeat center fixed;
    background-size: 100%;
}

@media screen and (max-width: 900px) {
  body {
  background-color: black;
    background-size: cover;
    }
}

.yoga_style{
	background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    border-radius: 20px;
    overflow-y: visible;
    }

.yoga_font2{
         text-align: center;
         font-family:'Kaushan Script',cursive; font-size:60px;
          margin:80px 10px 0 40px;
     	/* color: #f8f9fa;*/
     	text-shadow: 2px 2px #ff0000;
         }


  .yoga_font1{

       	color: #f8f9fa;
               }