body {
    /* background-color: #cdc1b3; */
    position: relative;
    background: url(/pic/yoga-pose-1024x763.jpg) no-repeat center fixed;
    background-size: 100%;


}
@media screen and (max-width: 900px) {
  body {
  background-color: black;
    background-size: cover;
    }
}

@media screen and (max-width: 768px) {
  body {
  background-color: black;
    background-size: cover;
    }
}

@media screen and (max-width: 600px) {

.header .titlePlace {
     font-family: 'Kaushan Script',cursive;
     font-size: 30px;
 }


  body {

    background-color: olive;
    background-size: cover;
  }
}


.yoga_font1{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji"
	,"Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ebf843;
	text-shadow: 2px 2px #ff0000;
    }


.yoga_font2{
	color: #f8f9fa;
	text-shadow: 2px 2px #ff0000;
    }

    .yoga_font3{
    	color: #f8f9fa;
    	 }

.yoga_style{
	background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    border-radius: 20px;
    overflow-y: visible;
    }

.container{text-align:center;}

.header {height:200px;}

.header .logoPlace {width:120px; height:120px;
    background-color:#e59929; margin:40px 80px 0 40px;
    color:#cdc1b3; font-size:80px; text-align:center;
    border-radius:20px 0px; box-shadow: 10px 6px 20px rgba(0,0,0,0.3);text-shadow: 0 0 8px rgba(255,255,255,1)}

.header .titlePlace{text-align:left; font-family:'Kaushan Script',cursive; font-size:60px;
 margin:80px 10px 0 40px;}



#test {text-align:center;margin:20px;}
#weekSelect {text-align:center;margin:20px;}

.osnovnoj .card{background: none;text-align:right;margin:0px;}
.osnovnoj .card.past {background: none;text-align:right;margin:0px;color:#f1f1f1;}

.osnovnoj .card.future{background-color:rgb(255,193,7,0.3); text-align:right;margin:0px;color: #ffc;}
.osnovnoj .card.today{background-color:rgb(179,63,4,0.6); text-align:right;margin:0px;color: #ffc;}




.osnovnoj .card:hover{box-shadow:4px 6px 10px rgba(0,0,0,0.5)}

.osnovnoj .card .card-title{font-family: 'Kaushan Script', cursive; text-align:left;}
.osnovnoj .card p {text-align:justify}


.footer {text-align:center;margin:20px;}
.copywrite {text-align: right; margin:80px;font-size:15px;}